html {
  font-size: 16px;
  font-family: 'Lato', serif;
}

/*Header*/
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.academy-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.academy-name span {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.colmar {
  font-weight: 900;
}

.academy {
  font-weight: 300;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  text-transform: uppercase;
  padding-right: 1rem;
}

nav ul li a {
  text-decoration: none;
  color: #000000;
}


/*Banner*/
.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 24px;
}

.image-banner {
  width: 60%;
}
